.formField, .formField:empty {
  width: 250px;
  border: none;
  padding: 5px;
  background-color: #eae4e4;

}

.inputDivider {
  display: flex;
  gap: 10px;
  margin: 15px 0;

}

.input-label {
  width: 100px;
  font-weight: bold;
}