// Made Responsive

.parameter-form {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}

.parameter-span {
  max-width: 225px;
  width: 100%;
}

.parameter-edit-button{

  background-color: white;
  border: none;
  font-weight: bold;
  font-size: 0.9rem;
  align-self: flex-end;
}

.parameter-edit-button:hover{
  cursor: pointer;
  text-decoration: underline;
}

.profile-account-label {
  width: 100%;
  max-width: 100px;
  font-weight: bold;
  align-self: flex-end;
}

.account-header-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.payment-method-icons {
  width: 25px;
  height: 25px
}

.payment-header-icon {
  height: 96px;
  width: 96px;
}

.payment-header-icon img,
.payment-method-icons img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {


  .parameter-span,
  .profile-account-label {
    width: 100%;
    max-width: 100%;
  }

  .payment-header-icon {
    width: 64px;
    height: 64px;
  }
}


