.auth-button {
  background-color: #ffffff;
  color: #000000;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-top: 10px;
}

.auth-button:hover {
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
}