.calendar-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
  font-weight: bold;
  color: white;
  background-color: #ff006c;
  font-size: clamp(1rem, 2vw, 2rem);
  width: 100%;
}

@media screen and (max-width: 768px) {

}