.product-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100vw;
  padding: 100px;
}

.products-visuals-container, .products-booking-container {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.product-image {
  border-radius: 0.5rem;
  max-width: 100%;
  height: auto;
}

.products-booking-container {
  display: flex;
  overflow-y: scroll;
  flex-wrap: wrap;

  .product-information{
    font-size: clamp(0.75rem, 2vw, 1rem);
  }
}



.product-size-selection {

  .custom-radio-divs{
    display: flex;
    flex-direction: row;

  }

}

.product-cta-section {
  display: flex;
  justify-content: center;
  margin: 0 25%;
  width: 50%;

}

.select-style-option-cta {
  font-weight: bold;
}

.product-booking-section{
  width: 100%;
}

@media screen and (max-width: 768px) {
  
}



