
.product-size {
  display: none;
  width: fit-content;
  height: fit-content;

}


.custom-radio {
  border: 1px solid #b1abab;
  border-radius: 4px;
  width: 15%;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.custom-radio:hover {
  border: 1.2px solid #000000;
  cursor: pointer;
}

.selected {
  background-color: black;
  color: white;
  border: none;
}